<% flash.each do |type, msg| %>
  <div width="350">
    <%= msg %>
  </div>
<% end %>

<%= form_with( model: @comment, url: {action: "create"}, method: :post) do |form| %>
  <div>
    <%= render partial: 'shared/textarea', locals: { form: form, label: "comment" } %>
  </div>

  <div class="submit d-flex">
    <%= form.submit "submit" %>
  </div>
<% end %>